@font-face {
    font-family: 'Headers';
    src: url('Fonts/Header_Font.otf') format('truetype');
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }



.pages{
    margin-top: -60px;
}

div.navigation_div{
    text-align: right;
}

a.navigation_pages{
    color:white;
    font-family: "headers";
}

