@font-face {
    font-family: 'Headers';
    src: url('Fonts/Header_Font.otf') format('truetype');
}

@font-face {
    font-family: 'names';
    src: url('Fonts/names.ttf') format('truetype');
}

@font-face {
    font-family: 'normal';
    src: url('Fonts/Insomnia Night.otf') format('truetype');
}

p.title{
    margin-left: 10px;
    color:white;
    font-family: "Headers";
    font-size: 40px;
}

div.description{
    width: 400px;
}

p.description{   
    margin-left: 10px;
    color:white;
    font-family: "normal";
    overflow: auto;
    font-size: 20px;
}


div.posts{
    margin-top: 60px;
    margin-left: 10px;
}

div.posts_space{
    height: 200px;
    width: 350px;
}

a.posts{
    color:white;
}

img.posts{
    width: 140px;
    height: 140px;
}

h3.posts{
    font-family: "names";
    color:white;
    margin-left: 160px;
    margin-top: -140px;
}

p.posts{
    font-family: "normal";
    font-size: 15px;
    color:white;
    margin-top: -6px;
    margin-left: 160px;
}